* {
    box-sizing: border-box;
}
.bar{
    top: 0;
    left: 0;
    width: 60%;
    height: 100px;
    background-color: white;
    position: fixed;
    border-style: solid;
    border-color: grey;
    border-width: 0px 0px 1px 0px;
}
.bar2 a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: large;
}
.bar a img:hover{
    width: 251px;
    height: 96px;
}
.bar2{
    top: 0;
    width: 40%;
    height: 100px;
    right: 0;
    background-color: white;
    position: fixed;
    border-style: solid;
    border-color: grey;
    border-width: 0px 0px 1px 0px;
    padding-top: 30px;
}
.bar a img{
    width: 250px;
    height: 95px;
    margin-left: 6%;
    margin-top: 2.5px;
    padding: 5px;

}
body{
    background-color: black;
}
.post{
    font-family: Bahnschrift;
    color: white;
    background-color: rgb(165, 32, 32);
    padding: 5px;
    border-width: 1px; 
    margin-top: 10px;
}
.post a{
    text-decoration: none;
    color: white;
}
#list a{
    text-decoration: none;
    color: white;
}
#list img{
    width: 180px;
    height: 120px;
    float: left;
    margin-right: 30px;
}
#list img:hover{
    opacity: 50%;
}
#list ul{
    overflow: auto;
    width: 100%;
    height: 500px;
    padding-bottom: 20px;
}
.recent{
    width: 70%;
    float: left;  
    margin-top: 100px;
}
.all{
    width: 29.3%;
    float: right;
    margin-top: 100px;  
}
.all li{
    margin-bottom: 15px;
}
.subscribe{
    width: 29.3%;
    float: right;
    text-align: center;
}
input[type=text]
{
    width: 100%;
}
input[type=submit]
{
    font-size: medium;
    width: 50%;
    margin: 10px;
    padding: 5px;;
    color:white;
    background-color: black;
}
input[type=submit]:hover{
    background-color: white;
    color: black;
}
#list{
    width: 70%;
    float: left;
    padding: 5px;
    margin-top: 11px;
    border-width: 1px; 
    font-family: Bahnschrift;
    color: white;
    background-color: rgb(165, 32, 32);
}
.social{
    float: right;
    width: 29.3%;
    text-align: center;
}
.social a img{ 
    margin: 5px;
    width: 50px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}
.social a img:hover{
    width: 60px;
}
.footer{
    position: fixed;
    background-color: black;
    width: 100%;
    color:white;
    bottom: 0;
    text-align: center;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer a{
    text-decoration: none;
    color: white;
}